global
  master-worker
  log stdout format raw daemon info
  stats socket /var/lib/haproxy/api.sock mode 600 expose-fd listeners level user


defaults
  log global
  mode http
  monitor-uri /haproxy-health

  option httplog
  option dontlognull
  option forwardfor

  timeout connect 5s
  timeout queue   10m
  timeout client  150s
  timeout server  150s

  errorfile 400 /usr/local/etc/haproxy/errors/400.http
  errorfile 403 /usr/local/etc/haproxy/errors/403.http
  errorfile 408 /usr/local/etc/haproxy/errors/408.http
  errorfile 500 /usr/local/etc/haproxy/errors/500.http
  errorfile 502 /usr/local/etc/haproxy/errors/502.http
  errorfile 503 /usr/local/etc/haproxy/errors/503.http
  errorfile 504 /usr/local/etc/haproxy/errors/504.http


resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold other      10s
    hold refused    10s
    hold nx         10s
    hold timeout    10s
    hold valid      10s
    hold obsolete   10s


frontend fe_http
  bind *:80
  option http-server-close
  timeout http-keep-alive 3000

  capture request header X-Forwarded-Proto len 6
  capture request header Host len 64
  capture request header X-Forwarded-For len 64

  default_backend be_app

  use_backend be_stats if { path /haproxy-stats }

  use_backend be_geoserver if { path_beg /geoserver }


backend be_app
  acl acl_schema_http hdr(X-Forwarded-Proto) -i http
  acl acl_schema_https hdr(X-Forwarded-Proto) -i https

  redirect code 301 scheme https if acl_schema_http
  http-response add-header Strict-Transport-Security max-age=31536000;\ includeSubDomains

  server srv1 app:8080 check resolvers docker init-addr libc,none


backend be_stats
  acl acl_schema_http hdr(X-Forwarded-Proto) -i http
  acl acl_schema_https hdr(X-Forwarded-Proto) -i https

  redirect code 301 scheme https if acl_schema_http
  http-response add-header Strict-Transport-Security max-age=31536000;\ includeSubDomains

  stats enable
  stats uri /haproxy-stats
  stats refresh 15s
  stats show-legends
  stats show-node


backend be_geoserver
  acl acl_schema_http hdr(X-Forwarded-Proto)  -i http
  acl acl_schema_https hdr(X-Forwarded-Proto) -i https

  acl acl_header_xforwardedfor_exists   req.hdr(X-Forwarded-For)   -m found
  acl acl_header_xforwardedhost_exists  req.hdr(X-Forwarded-Host)  -m found
  acl acl_header_xforwardedproto_exists req.hdr(X-Forwarded-Proto) -m found

  acl acl_header_xforwardedfor_src hdr_ip(X-Forwarded-For) 10.0.0.0/8

  http-request add-header X-Forwarded-For   %[src]           unless acl_header_xforwardedfor_exists
  http-request set-header X-Forwarded-Host  %[req.hdr(Host)] unless acl_header_xforwardedhost_exists
  http-request set-header X-Forwarded-Proto http             unless acl_header_xforwardedproto_exists

  redirect code 301 scheme https if acl_schema_http !acl_header_xforwardedfor_src
  http-response add-header Strict-Transport-Security max-age=31536000;\ includeSubDomains

  server srv1 geoserver:8080 check resolvers docker init-addr libc,none

